* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #74c6fd;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    height: 20rem;
    padding: 2rem;
    gap: 1rem;
}

.box-card {
    background-color: aliceblue;
    width: 23vw;
    height: 16rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.box-card p {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}